@import 'mixins';
@import 'variables';

$width: 58px;
$height: 24px;
$knob-width: 26px;

.amarkal-ui-component-switch {
    
    &.amarkal-ui-disabled label {
        opacity: $disabled-component-opacity;
        background-color: $color-medium-gray !important;

        .knob {
            background-color: $disabled-component-bg-color;
        }
    }

    input[type="checkbox"] {
        display: none;

        &:checked + label {
            background-color: $color-green;

            span {
                transform: translateX($width - $knob-width - 4);
            }
        } 
    }

    label {
        width: $width;
        height: $height;
        background-color: $color-medium-gray;
        border-radius: $height;
        box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.15);
        display: block;
        position: relative;
        overflow: hidden;

        span {
            position: absolute;
            transition: all .2s ease;

            &.knob {
                width: $knob-width;
                height: $height - 4;
                background-color: white;
                display: block;
                border-radius: $height - 4;
                box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
                left: 2px;
                top: 2px;
            }

            &.label-on, &.label-off {
                line-height: $height;
                font-weight: bold;
                font-size: 11px;
                color: white;
                text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15);
                text-align: center;
                width: $width - $knob-width - 2;
            }
            
            &.label-on {
                left: - ( $knob-width + 2 );
            }

            &.label-off {
                left: $knob-width + 2;
            }
        }
    }
}