@import 'mixins';
@import 'variables';

.amarkal-ui-component-code {
    position: relative;

    &.amarkal-ui-disabled {
        opacity: $disabled-component-opacity;

        .ace_content {
            background-color: $disabled-component-bg-color;            
        }
    }
    
    .amarkal-ui-component-ace-editor {
        border-radius: 3px;
        height: 100%;
        width: 100%;
        margin: 0;
        border: 2px solid #d8d8d8;
    }
}