@import 'mixins';
@import 'variables';

$knob-width: 26px;
$knob-height: 20px;
$knob-color: white;

@mixin thumb() {
    -webkit-appearance: none !important;
    border: none;
    height: $knob-height;
    width: $knob-width;
    border-radius: $knob-height;
    background-color: $knob-color;
    cursor: pointer;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3), 1px 1px 6px rgba(0,0,0,0.15);
}

@mixin track() {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: inset 1px 1px 2px rgba(0,0,0,0.15);
    background-color: $color-medium-gray;
    border-radius: 3px;
    border: none;
}

.amarkal-ui-component-slider {
    position: relative;
    margin: 30px 0 0;

    &.amarkal-ui-component-error label {
        @include ui-input-error();
    }

    &.amarkal-ui-disabled {
        opacity: $disabled-component-opacity;

        input::-webkit-slider-thumb {background-color: $disabled-component-bg-color;}
        input::-moz-range-thumb {background-color: $disabled-component-bg-color;}
        input::-ms-thumb {background-color: $disabled-component-bg-color;}

        .slider-value-label {
            background-color: $color-medium-gray;

            &::after {
                border-top-color: $color-medium-gray;
            }
        }
    }
    
    input {
        -webkit-appearance: none;
        outline: none;
        width: 100%;
        padding: 0;
        margin: 0;

        &:focus {
            border: none;
            outline: none;
        }

        &::-webkit-slider-thumb {
            @include thumb();
            margin-top: -8px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
        }

        &::-webkit-slider-runnable-track {
            @include track();
        }

        &::-moz-range-thumb {
            @include thumb();
        }

        &::-moz-range-track {
            @include track();
        }

        &::-ms-thumb {
            @include thumb();
        }

        &::-ms-track {
            @include track();
        }
    }

    .slider-value-label {
        position: absolute;
        background-color: $color-blue;
        color: white;
        padding: .1em .5em;
        font-size: .8em;
        border-radius: 3px;
        top: -2.5em;
        transform: translateX(-50%);

        &::after {
            content: "";
            border: 4px solid transparent;
            border-top-color: $color-blue;
            position: absolute;
            bottom: -8px;
            left: 50%;
            margin-left: -4px;
        }
    }

    .slider-values {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;

        span {
            font-size: .8em;
            color: #868c92;
            border-radius: 3px;
            width: 30px; // This should match the label width value set by JS
            text-align: center;
        }
    }
}