.amarkal-ui-component-textarea {
    
    &.amarkal-ui-component-error textarea {
        border-color: red;
        background-color: #ffd8d8;
    }
    
    textarea {
        border-radius: 3px;
    }
}