@import 'mixins';
@import 'variables';

.amarkal-ui-component-toggle {
    
    &.amarkal-ui-disabled {
        opacity: $disabled-component-opacity;

        .amarkal-ui-toggle-labels-wrapper {
            background-color: $disabled-component-bg-color;

            .amarkal-ui-toggle-labels {
                box-shadow: inset 0 0 0 2px $color-medium-gray;
    
                div {
                    color: $color-medium-gray;
                    border-right-color: $color-medium-gray;
                    border-left-color: $color-medium-gray;

                    &:hover {
                        background-color: transparent !important;
                        border-right-color: $color-medium-gray;
                        color: $color-medium-gray;
                    }

                    &.active {
                        background-color: $color-medium-gray !important;

                        &:hover {
                            color: white;
                        }
                    }
                }
            }
        }
    }

    .amarkal-ui-toggle-labels-wrapper {
        display: inline-block;

        .amarkal-ui-toggle-labels {
            display: flex;
            box-shadow: inset 0 0 0 2px $color-blue;
            border-radius: 3px;

            div {
                padding: .5em .7em .6em;
                color: $color-blue;
                cursor: pointer;
                border-right: 1px solid $color-blue;
                border-left: 1px solid $color-blue;

                &:first-child {
                    border-radius: 3px 0 0 3px;
                    border-left-width: 0;
                }

                &:last-child {
                    border-radius: 0 3px 3px 0;
                    border-right-width: 0;
                }

                &:hover {
                    background-color: #338fbb;
                    border-right-color: #338fbb;
                    color: white;
                }

                &.active:not(:hover) {
                    color: white;
                    background-color: $color-blue;
                }
            }
        }
    }
}